# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*/__pycache__

# pycharm
.idea
*/.idea

.vscode


# genEPUB
genEPUB/temp
genEPUB/book.epub


# hndwrtPrint
hndwrtPrint/test
hndwrtPrint/temp
hndwrtPrint/temp.png
hndwrtPrint/testfont.ttf
hndwrtPrint/content.md


# combineImages
combineImages/font.ttf


# betaVAE
betaVAE/dataset
betaVAE/img_align_celeba.zip
betaVAE/data_gen


# enfile
enfile/unrar
enfile/UnRAR.exe
enfile/rarfile.py
enfile/*.spec
